<!DOCTYPE html>
<html
        lang="en"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
>
<th:block th:include="~{_shared/head.html}"/>
<body>
<th:block th:include="~{_shared/header.html}"/>
<form th:action="@{/user/login}" th:object="${model}" method="post">
    <div class="container">
        <div class="box text-center col-md-12 my-3">
            <div>
                <label for="username">Username</label>
                <input class="inputFieldSize" type="text" id="username" name="username"/>
            </div>
            <div>
                <label for="password">Password</label>
                <input class="inputFieldSize" type="password" id="password" name="password"/>
            </div>
            <div class="ml-3">
                <button class="btn btn-info my-2 ml-4" type="submit">Login</button>
            </div>
        </div>
    </div>
</form>
</body>
</html>